<nav class="sidebar">
    <div class="sidebar-brand">Job Search Tracker</div>
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Applications</NavLink>
    <NavLink class="nav-link" href="/positions">Positions</NavLink>
    <NavLink class="nav-link" href="/settings">Settings</NavLink>
</nav>
